<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>게시글 작성</title>
</head>

<style>
    .container{
        width: 500px;
        margin: 0 auto;
        margin-top: 40px;
    }
    .container > input{
        width: 100%;
        box-sizing: border-box;
    }
    .container > textarea{
        width: 100%;
        height: 300px;
        margin-top: 10px;
    }


</style>
<body>
<form action="/board/write" method="post">
    <div class="container">
        <h1>글 작성 하기</h1>
        <input  name="title" type="text" placeholder="제목을 입력하세요.">
        <textarea name="content" placeholder = "내용을 입력하세요."></textarea>
        <select name="boardTypeId">
            <option th:each="boardType : ${boardTypes}" th:value="${boardType.id}" th:text="${boardType.boardName}"></option>
        </select>
        <input type="submit" value="글작성">
    </div>

</form>
</body>
</html>