<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.tymeleaf.com">
<head>
    <meta charset="UTF-8">
    <title>게시글 작성</title>
</head>

<style>
    .container{
        width: 500px;
        margin: 0 auto;
        margin-top: 40px;
    }
    .container > input{
        width: 100%;
        box-sizing: border-box;
    }
    .container > textarea{
        width: 100%;
        height: 300px;
        margin-top: 10px;
    }


</style>
<body>
<form th:action="@{/board/update/{id}(id= ${board.id})}" method="post">
    <div class="container">
        <input  name="title" type="text" th:value="${board.title}">
        <textarea name="content" th:text="${board.content}"></textarea>
        <button type="submit">수정</button>
    </div>
</form>
</body>
</html>